<template>
    <div class="utisak-o-proizvodu">
        <el-dialog :visible="this.openDialog" class="dialog" width="50%" center>
        <!-- <el-form> -->
            <el-popover>
                <img :src="Logo" style="height:130px; width: 170px; margin: 0 auto; display:flex; justify-self: center;" slot="reference"/> 
            </el-popover>
            <h5>Dodaj utisak o proizvodu</h5>
            <div>
                <label>Proizvod</label>
               <el-select class="inputPolje" v-model="proizvodID" placeholder="Izaberite proizvod" size="medium">
                    <el-option v-for="item in proizvodi" :key="item._id" :label="item.title" :value="item.title"></el-option>
                </el-select>
            </div>
            <!-- <div>
            <label>Proizvod:</label>
                <el-input v-model="data.nameProduct"></el-input>
            </div> -->
            <label class="form-line">Komentar:</label>
            <el-input type="textarea" v-model="data.content" :rows="10"></el-input>
            <div class="dugme">
                <el-button @click="potvrdiUnos()" type="success" round style="border-color:rgba(213, 34, 92, 0.925); background-color:rgba(213, 34, 92, 0.925);">Sačuvaj</el-button>
                <!-- <el-button @click="ponisti" type="danger" round style="color:rgba(213, 34, 92, 0.925); background-color: white; border-color:white">Poništi</el-button> -->
            </div>
        <!-- </el-form> -->
        </el-dialog>
    </div>
</template>

<script>
import logofirme2 from '../../assets/logo2.png';
import { destinationUrl, apiFetch } from '../../services/authFetch';
import { getUserInfo } from '../../services/contextManagement';

export default {
    data() {
        return{
            Logo: logofirme2,
            data:{
                nameProduct:'',
                content: '',
                korisnikid:'',
                // productid:''
            },
            proizvodi:[],
            proizvodID:''
        }
    },
    props: ['openDialog'],
    methods: {
        potvrdiUnos(){
            this.data.korisnikid = getUserInfo().userID;       
            console.log(this.proizvodID);
            this.data.nameProduct = this.proizvodID
        //    if(this.proizvodID != ''){
        //         let proizvodi = {content:'', nameProduct: '', productid:'', korisnikid:''};
        //         proizvodi.nameProduct = this.nameProduct;
        //         proizvodi.productid = this.productid;
        //         console.log(proizvodi.nameProduct);
        //    }
           
            apiFetch('POST', destinationUrl + "/comment/add", this.data)
                .then(response => {
                    console.log(response);
                    if(response.Success)
                    {
                        this.proizvodID='';
                        this.$message('Dodali ste utisak!');
                    }
                    else{
                        this.$message('Doslo je do greske! Ili proizvod ne postoji!');
                }

                    }).catch(err => console.log(err));
                 this.openDialog = false;
            },
        ListaProizvoda()
        {
            apiFetch('GET', destinationUrl + "/comment/all")
                .then(result=>{
                    this.proizvodi=result.products;
                    // console.log(this.proizvod.products);
                });
        }
        // ponisti: function () {
        //     this.$emit("zavrsenaPromena",'cancel');
        // }
    },
    mounted:function(){
        this.ListaProizvoda();
    }
}
</script>

<style scoped>
    .utisak-o-proizvodu{
        /* display: flex; */
        width: 100%;
        height: 100%;
    }
    .form-line{
        display: block;
        margin-top: 1em;
    }
    .dugme{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
</style>