<template>
    <div class="zakazi-container">
        <el-form class="zakazi-forma">
        <!--    <div class="stavka">
                <label>Datum:</label>
                <el-input
                    :disabled="false" :value="this.date" readonly
                    v-model="this.date" placeholder="Datum iz kalendara">{}</el-input>
            </div> -->
             <div class="stavka">
                <el-date-picker
                :value="this.date.substring(0, 10)"
                v-model="podaciZakazi.date"
                type="date"
                placeholder="Izaberite datum">
                </el-date-picker>
            </div>
            <div class="stavka">
                <label>Dodatni zahtevi:</label>
                <el-input type="textarea"
                    :autosize="{minRows: 4, maxRows: 4}" v-model="podaciZakazi.comment">
                </el-input>
            </div>
            <div class="stavka">
                <label>Tip:</label>
                <el-select  v-model="podaciZakazi.type" placeholder="Izaberite tip usluge">
                    <el-option v-for="item in options" :key="item.tip" :label="item.label" :value="item.tip"></el-option>
                </el-select>
            </div>
            <div class="stavka">
                <label>Vreme:</label>
                <el-time-select  v-model="podaciZakazi.time" :picker-options="{ start: '08:00', step: '00:45', end: '21:00' }" placeholder="Select time"></el-time-select>
            </div>
            <div class="dugme">
                <el-button id="dugmeZakazi" round @click="proslediZahtev()" style="color: white; border-color:rgba(213, 34, 92, 0.925); background-color:rgba(213, 34, 92, 0.925);">Zakaži</el-button>
            </div>
        </el-form>
    </div>
</template>

<script>
import { getUserInfo } from '../../services/contextManagement';
import { apiFetch, destinationUrl } from '../../services/authFetch';
// import { ERRORS } from '../../data/errorsCode';
export default {
    data(){
        return{
           // value1:'',
            podaciZakazi: {
                date: '',
                comment: '',
                type: '',
                time: '',
                korisnikid: ''
            },
            // user: {name:'', lastname:''},
            options: [{
                tip:'Masaza',
                label:'Masaza'
                },{
                tip:'Sminkanje',
                label:'Sminkanje'
                },{
                tip:'Manikir',
                label:'Manikir'
                },{
                tip:'Pedikir',
                label:'Pedikir'
                },{
                tip:'Depilacija',
                label:'Depilacija'
                }]
        }
    },
    props: {date:String},
    watch: {
        date: function(pom){
            this.podaciZakazi.date=pom.substring(0, 10);
            // console.log(pom);
        }
    },
    methods: {
        validacija() {
            if(this.podaciZakazi.date == '' || this.podaciZakazi.type == '' || this.podaciZakazi.time == ''){
                this.$message({message: "Morate popuniti sva polja!", type: 'warning'})
                return false
            }
            return true
        },
        proslediZahtev() {
             if(!this.validacija())
                 return

            // this.podaciZakazi.date = this.date.substring(0, 10);
            // this.podaciZakazi.name = this.user.name;
            // this.podaciZakazi.lastname = this.user.lastname;
            this.podaciZakazi.korisnikid = getUserInfo().userID;
                // console.log(this.podaciZakazi)

            apiFetch('POST', destinationUrl + "/request/add/", this.podaciZakazi)
            .then(result => {
                if(result.Success){
                    this.$message({message: "Uspesno ste zakazali termin.", type: 'success'});
                    this.$emit("zakazano",this.podaciZakazi);
                    this.clearForm();
                }
                else {
                     this.$message({message: "Doslo je do greske!", type: 'error'});
                    // result.Errors.forEach(error => {
                    //     this.$message({message: ERRORS[error.Code], type: "warning"});
                    // })
                }
            }).catch(err => {
                console.log(err);
            });


        },
        pribaviKorisnika(){
            let korisnikid = getUserInfo().userID;
            fetch(destinationUrl + '/user/findById/' + korisnikid, {method: "GET"})
                .then(response => response.ok ? response.json() : new Error())
                // .then(response => {
                    // this.user.name = result.Data.name;
                    // this.user.lastname = result.Data.lastname;
                // }).catch(error => console.log(error));
        },
        clearForm() {
            this.podaciZakazi.date = "";
            this.podaciZakazi.AdditionalRequests = "";
            this.podaciZakazi.type = "";
            this.podaciZakazi.time = "";
        }
    },
    beforeMount(){
        // this.radi(date);
        this.pribaviKorisnika()
    }
}
</script>

<style scoped>
    .zakazi-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding:50px;
        padding-top: 0px;
    }
    .zakazi-forma{
        height: 500px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .stavka{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .el-select{
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .el-input{
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .dugme{
        display: flex;
        flex-direction: row-reverse;
        margin: 5px;
        width: 100%;
    }
</style>