<template>
    <div class="uprava-container">
        <custom-bar :list="menuItems" @changeView="setComponent($event)" >
            <evidencija-clanova v-if="this.showComp == 'evidencijaclanova'"></evidencija-clanova>
            <narudzbina v-if="this.showComp == 'narudzbina'"></narudzbina>
            <zakazivanja v-if="this.showComp == 'zakazivanja'" ></zakazivanja>
            <proizvodi-uprave v-if="this.showComp == 'proizvodiuprave'"></proizvodi-uprave>
       </custom-bar>
    </div>
</template>

<script>
import CustomBar from "../components/CustomBar"
import EvidencijaClanova from "../components/EvidencijaClanova.vue"
import Narudzbina from "../components/Narudzbina.vue"
import Zakazivanja from "../components/Zakazivanja.vue"
import ProizvodiUprave from "../components/ProizvodiUprave.vue"
import {setPageShown, getPageToShow, getUserInfo } from "../services/contextManagement"
export default {
    // eslint-disable-next-line vue/no-unused-components
    components:{CustomBar, EvidencijaClanova, Narudzbina, Zakazivanja, ProizvodiUprave},
    data(){
        return{
            menuItems: [
                {
                    key: 1,
                    label: 'Zakazivanja',
                    index: 'zakazivanja',
                    slika: 'zakazivanje.png'
                },
                {
                    key: 2,
                    label: 'Narudžbine',
                    index: 'narudzbina',
                    slika: 'narudzbine.png'
                },
                {
                    key: 3,
                    label: 'Proizvodi',
                    index: 'proizvodiuprave',
                    slika: 'proizvodi.png'
                },
                {
                    key: 4,
                    label: 'Evidencija članova',
                    index: 'evidencijaclanova',
                    slika: 'evidencijaclanova.png'
                }
            ],
            showComp: 'proizvodiuprave',
            userId: -1,
            userType: 'uprava'
        }
    },
    methods: {
        setComponent(index){
            this.showComp = index;
            setPageShown(index);
        }
    },
    beforeMount(){
        var userInfo = getUserInfo()
        this.userId = userInfo.userID;
        var index = getPageToShow().page;
        console.log(index)
        if(index != null){
            this.showComp = index;
            return
        }
        this.showComp = '';
    }
}
</script>

<style scoped>
    .uprava-container{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
        background-size: cover;
        
        background-image: linear-gradient(
            rgba(26, 111, 168, 0.555),
            rgba(37, 41, 40, 0.575)
        ),url("../assets/pozadina.png");
    }
</style>